<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geoway.webstore.dao.JctbUnzipDetailMapper">
    <resultMap id="BaseResultMap" type="com.geoway.webstore.entity.JctbUnzipDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="data_name" jdbcType="VARCHAR" property="dataName"/>
        <result column="data_path" jdbcType="VARCHAR" property="dataPath"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="province_name" jdbcType="VARCHAR" property="provinceName"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="county_code" jdbcType="VARCHAR" property="countyCode"/>
        <result column="county_name" jdbcType="VARCHAR" property="countyName"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , task_name, data_name, data_path, province_code, province_name, city_code, city_name,
    county_code, county_name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jctb_unzip_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from jctb_unzip_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.geoway.webstore.entity.JctbUnzipDetail">
        insert into jctb_unzip_detail (id, task_name, data_name,
                                       data_path, province_code, province_name,
                                       city_code, city_name, county_code,
                                       county_name)
        values (#{id,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{dataName,jdbcType=VARCHAR},
                #{dataPath,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR},
                #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{countyCode,jdbcType=VARCHAR},
                #{countyName,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.geoway.webstore.entity.JctbUnzipDetail">
        insert into jctb_unzip_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskName != null">
                task_name,
            </if>
            <if test="dataName != null">
                data_name,
            </if>
            <if test="dataPath != null">
                data_path,
            </if>
            <if test="provinceCode != null">
                province_code,
            </if>
            <if test="provinceName != null">
                province_name,
            </if>
            <if test="cityCode != null">
                city_code,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="countyCode != null">
                county_code,
            </if>
            <if test="countyName != null">
                county_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="dataName != null">
                #{dataName,jdbcType=VARCHAR},
            </if>
            <if test="dataPath != null">
                #{dataPath,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceName != null">
                #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="countyCode != null">
                #{countyCode,jdbcType=VARCHAR},
            </if>
            <if test="countyName != null">
                #{countyName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geoway.webstore.entity.JctbUnzipDetail">
        update jctb_unzip_detail
        <set>
            <if test="taskName != null">
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="dataName != null">
                data_name = #{dataName,jdbcType=VARCHAR},
            </if>
            <if test="dataPath != null">
                data_path = #{dataPath,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null">
                province_code = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceName != null">
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="countyCode != null">
                county_code = #{countyCode,jdbcType=VARCHAR},
            </if>
            <if test="countyName != null">
                county_name = #{countyName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geoway.webstore.entity.JctbUnzipDetail">
        update jctb_unzip_detail
        set task_name     = #{taskName,jdbcType=VARCHAR},
            data_name     = #{dataName,jdbcType=VARCHAR},
            data_path     = #{dataPath,jdbcType=VARCHAR},
            province_code = #{provinceCode,jdbcType=VARCHAR},
            province_name = #{provinceName,jdbcType=VARCHAR},
            city_code     = #{cityCode,jdbcType=VARCHAR},
            city_name     = #{cityName,jdbcType=VARCHAR},
            county_code   = #{countyCode,jdbcType=VARCHAR},
            county_name   = #{countyName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="batchInsert" parameterType="com.geoway.webstore.entity.JctbUnzipDetail">
        insert into jctb_unzip_detail (id, task_name, data_name,
        data_path, province_code, province_name,
        city_code, city_name, county_code,
        county_name)
        values
        <foreach collection="records" item="record" separator=",">
            (#{record.id,jdbcType=BIGINT}, #{record.taskName,jdbcType=VARCHAR}, #{record.dataName,jdbcType=VARCHAR},
            #{record.dataPath,jdbcType=VARCHAR}, #{record.provinceCode,jdbcType=VARCHAR},
            #{record.provinceName,jdbcType=VARCHAR},
            #{record.cityCode,jdbcType=VARCHAR}, #{record.cityName,jdbcType=VARCHAR},
            #{record.countyCode,jdbcType=VARCHAR},
            #{record.countyName,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <delete id="deleteByTaskName" parameterType="java.lang.String">
        delete
        from jctb_unzip_detail
        where task_name = #{taskName,jdbcType=VARCHAR}
    </delete>

    <select id="listByTaskName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jctb_unzip_detail
        where task_name = #{taskName,jdbcType=VARCHAR}
    </select>
</mapper>